<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>ATN Shop</title>

    <style>
body {
  font-family: "Lato", sans-serif;
  background-color: #f8f8f8;
}

.header {
    background-color: #FF4040;
    height: 55px;
    width: 101.5%;
    margin-top: -10px;
    margin-left: -10px;
    position: fixed;
}

.logo{
    font-size: 20px;
    width: 100px;
    float: left;
    margin-top: 18px;
    margin-left: 50px;
}

.logo a{
  text-decoration: none;
  color: white;
}

.account {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.dropbtn {
  background-color: #FF4040;
  color: white;
  padding: 12.5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.user-logo {
    float: left; 
}

.user-logo i{
    font-size: 30px;
    color: black;   
}

.name{
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.account-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.account-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.account-content a:hover {background-color: #ddd;}

.account:hover .account-content {display: block;}

.account:hover .dropbtn {background-color: red;}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  margin-top: 45px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;

}

.sidebar a {
  padding: 25px 8px 8px 25px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
</style>


</head>
<body>
<div class="header">
    <div class="logo"><a href="/index"><b>ATN</b>Shop</a></div>
    <div class="account">
        <div class="dropbtn">
            <div class="user-logo"><i class="fas fa-user"></i></div>
            <div class="name">ADMIN <i class="fa fa-caret-down"></i></div>
            <div style="clear: both;"></div>
        </div>
        <div class="account-content">
            <a href="/signOut">Sign out</a>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="sidebar">
  <a href="/index"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/categories"><i class="fas fa-th"></i> &nbsp;Categories</a>
  <a href="/products"><i class="fab fa-xbox"></i> &nbsp;Products</a>
  <a href="/users"><i class="fas fa-users"></i> &nbsp;Users</a>
</div>
   
</body>
</html>